package templates

import (
	"github.com/osak/mini-nikki/model"
	"github.com/osak/mini-nikki/templates/components"
)

templ IndexPage(groups []model.PostGroup) {
	@Layout("ミニ日記（ゴママヨ）") {
		<main>
			<div class="post-groups">
				for _, group := range groups {
					@components.PostGroup(group)
				}
				if len(groups) == 0 {
					<p class="empty">まだ投稿がありません。</p>
				}
			</div>
		</main>
	}
}
