package templates

import (
	"github.com/osak/mini-nikki/model"
	"github.com/osak/mini-nikki/templates/components"
)

templ IndexPage(posts []model.Post) {
	@Layout("ミニ日記（ゴママヨ）") {
		<main>
			<section class="post-list">
				for _, post := range posts {
					@components.PostCard(post)
				}
				if len(posts) == 0 {
					<p class="empty">まだ投稿がありません。</p>
				}
			</section>
		</main>
	}
}
