package templates

templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="ja">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/style.css"/>
			<link rel="alternate" type="application/rss+xml" title="ミニ日記（ゴママヨ）" href="/feed.rss"/>
			<link rel="alternate" type="application/atom+xml" title="ミニ日記（ゴママヨ）" href="/feed.atom"/>
			<script src="/static/app.js" defer></script>
		</head>
		<body>
			<header>
				<a href="/" class="site-title">ミニ日記（ゴママヨ）</a>
				<a href="https://osak.jp">osak.jp</a>
			</header>
			{ children... }
		</body>
	</html>
}
